@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,400;0,500;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('https://eu-assets.simpleview-europe.com/manchester2016/imageresizer/?image=%2Fdmsimgs%2Fmanchester-art-gallery_2__1332734200.jpg&action=ProductDetail');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

nav {
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
}

.logo img {
  width: 5vw;
  height: auto;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.banner {
  align-items: center;
  padding-top: 15%;
  padding-bottom: 50%;
  text-align: center;
  background-color: #0000004d;
  background-size: cover;
  color: beige;
  height: auto;
  justify-content: center;
  display: block;
}

.banner-info {
  text-align: center;
}

.banner-info img {
  width: 100%;
  max-width: 400px;
}

.detail {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.footer-top-con {
  padding: 20px;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
  color: beige;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.footer-top-item {
  max-width: 50%;
}

.footer-top-item-social {
  padding-left: 30%;
  align-items: end;
}

.nav-links {
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-wrap: wrap; /* Added flex-wrap for better responsiveness */
  align-items: center;
  padding: 20px 15px;
  border-radius: 12px;
}

.nav-links li {
  list-style: none;
  margin: 0 12px;
}

.nav-links li a {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}

.nav-links li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #efa434;
  border-radius: 12px;
  transition: all 0.4s ease;
}

.nav-links li a:hover:before,
.nav-links li a.active:before {
  width: 100%;
}

.nav-links li.forward a:before {
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

.nav-links li.forward a:hover:before,
.nav-links li.forward a.active:before {
  transform: scaleX(1);
  transform-origin: left;
}
.anime-container .dot{
  position: absolute;
  border-radius: 50%;
  background-color: hsl(60, 100%, 80%);
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@media (max-width: 1029px) {
  .banner { 
    padding-top: 20vw;
    padding-bottom: 40%;
}
}
@media (max-width: 767px) {
  nav {
    height: 15vw;
}


.nav-links {
    padding: 15px;
    justify-content: center;
}

.nav-links li {
    margin: 0 12px;
}

.nav-links li a {
    font-size: 3vw;
}
  /* Footer */
  .footer-top-con {
    column-gap: 1rem;
  }

  .footer-top-item,
  .footer-top-item-social {
    max-width: 100%;
    padding: 0 15px;
  }

  /* Banner */
  .banner-info img {
    max-width: 100%;
  }

  /* Navigation Dropdown */
  .nav-links li.forward a:before {
    width: 0;
  }
}

/* Social Icons */
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.instagram:hover {
  background-color: #ed00d9;
}

.hello {
  opacity: 1 !important;
}

.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.full .content {
  background-color: rgba(0, 0, 0, 0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
}

.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  animation: zoomin 1s ease;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.byebye {
  opacity: 0;
}

.byebye:hover {
  transform: scale(0.2) !important;
}

.gallery {
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
}

.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}

.gallery img:hover {
  box-shadow: 0 0 32px #333;
}

.gallery .content {
  padding: 4px;
}

.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.logo img {
  max-width: 4vw;
  height: auto;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery .gallery-item:hover {
  transform: scale(1.025);
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
  nav {
    height: 15vw;
}
.nav-links li {
  margin: 0 12px;
}

.nav-links li a {
  font-size: 3vw;
}
.banner h1{
  font-size: 5vw;
  margin-top: 35% ;
}
.modal-page {
  max-width: 100%;
  height: auto;
}

.modal-details {
  flex-direction: column;
  font-size: medium;
}

.modal-details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  align-items: center;
}

}


@-moz-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

@-o-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #f5f5f500;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #1414147e;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
}

.modal-page {
  z-index: 99;
  max-width: 50vw;
  max-height: 50vh;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  animation-name: animatetop;
  animation-duration: 0.9s;
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }

  to {
      top: 0;
      opacity: 1
  }
}

@keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }

  to {
      top: 0;
      opacity: 1
  }
}
.modal-details img {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.loading-indicator {
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 96px;
  width: 96px;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.loading-indicator span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.loading-indicator span:nth-of-type(1) {
  filter: blur(5px);
}

.loading-indicator span:nth-of-type(2) {
  filter: blur(10px);
}

.loading-indicator span:nth-of-type(3) {
  filter: blur(25px);
}

.loading-indicator span:nth-of-type(4) {
  filter: blur(50px);
}

.loading-indicator::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border: solid 5px #ffffff;
  border-radius: 50%;
}

@keyframes rotate_3922 {
from {
 transform: translate(-50%, -50%) rotate(0deg);
}

to {
 transform: translate(-50%, -50%) rotate(360deg);
}
}