@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,400;0,500;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    
    color: #ffffff;
}

body {
  background-color: #131316;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center center; /* Optional: Center the background image */
}

section{
  display : grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  margin-top: 100px;
  margin-bottom: 100px;
  z-index: -99;
}

.hidden{
opacity: 0;
filter: blur(5px);
transition: all 2s;
}


.show{
opacity: 1;
transition: all 2s;
filter : blur(0);

}
.pallalax{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.pallalax img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.sec {
  margin-top: 200vw;
  position: relative;
  align-items: left;
}
.sec2 {
  margin-top: 200vw;
  position: relative;
  align-items: left;
}
.sec-detail{
  display: flex;
  padding-left: 100px;
}
.sec-text {
  padding-left : 100px;
  padding-right : 100px;
}

.sec img{
  width: 100%;
}

.sec h2{
  font-size: 3em;
}


.bg-blur {
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

}

.logo img {
    max-width: 15vw;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20x;
}
@media (max-width: 1000px) {
  .logo img {
      max-width: 30vw;
      height: auto;
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 20x;
  }

}
.banner {
    align-items: center;
    padding-top: 20%;
    padding-bottom: 10%;
    text-align: center;
    color: beige;
    height: auto;
    justify-content: center;
    display: block;
    
}

.banner h1{
    font-size: 5vw;
    margin-bottom: 20px;
    margin-top: 20px;

}

.banner-info {
    text-align: center;
}

.banner-info img {
    width: 100%; /* Adjusted for better responsiveness */
    max-width: 400px; /* Added max-width for better responsiveness */
}

.detail {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left : 20%;
    margin-right : 20%;
}

.footer-top-con {
    margin-top: 100%;
    padding: 20px;
    background: transparent;
    -webkit-backdrop-filter: blur(10px);  
    backdrop-filter: blur(10px);  
    display: flex;
    flex-wrap: wrap; /* Added flex-wrap for better responsiveness */
    column-gap: 3rem;
    color: beige;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);

}

.footer-top-item {
    max-width: 50%;
}

.footer-top-item-social {
    padding-left: 30%;
    align-items: end;
}

.nav-links {
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-wrap: wrap; /* Added flex-wrap for better responsiveness */
  align-items: center;
  padding: 20px 15px;
  border-radius: 12px;
}

.nav-links li {
  list-style: none;
  margin: 0 12px;
}

.nav-links li a {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}

.nav-links li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #00e1ff;
  border-radius: 12px;
  transition: all 0.4s ease;
}

.nav-links li a:hover:before,
.nav-links li a.active:before {
  width: 100%;
}

.nav-links li.forward a:before {
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

.nav-links li.forward a:hover:before,
.nav-links li.forward a.active:before {
  transform: scaleX(1);
  transform-origin: left;
}


/* Dropdown Button */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: background-color 0.3s ease;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 15px;
    margin: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.3s ease;
    border-radius: 12px;
}

.nav-links li:hover .dropdown-content {
    display: block;
    opacity: 1;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0);
}

.dropdown-content a:hover {
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

  


/* Social Icons */
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    font-size: 13px;
}

.social-icons a {
    background-color: #000000;
    color: #000000;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.social-icons a.facebook:hover {
    background-color: #3b5998;
}

.social-icons a.instagram:hover {
    background-color: #ed00d9;
}

.hello {
    opacity: 1 !important;
  }
  .full {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .full .content {
    background-color: rgba(0,0,0,0.75) !important;
    height: 100%;
    width: 100%;
    display: grid;
  }
  .full .content img {
    left: 50%;
    transform: translate3d(0, 0, 0);
    animation: zoomin 1s ease;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
  .byebye {
    opacity: 0;
  }
  .byebye:hover {
    transform: scale(0.2) !important;
  }
  .gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 8px;
  }
  .gallery img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
  }
  .gallery img:hover {
    box-shadow: 0 0 32px #333;
  }
  .gallery .content {
    padding: 4px;
  }
  .gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .gallery .gallery-item:hover {
    transform: scale(1.025);
  }

  @media (max-width: 335px){
    .banner h1{
      margin-top: 20vw;
    }
    .navlinks li a{
      font-size: xx-small;
    }
  }
  @media (max-width: 600px) {
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
  }
  @media (max-width: 400px) {
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
  }
  @media (max-width: 1000px) {
    #yt-background {
      width: 300vw;
      height: 170vw;
    }
  
    .banner { 
        padding-top: 20%;
        padding-bottom: 20%;
    }
    nav {
        height: 15vw;
    }
  
    .nav-links {
        padding: 15px;
        justify-content: center;
    }
  
    .nav-links li {
        margin: 0 12px;
    }
  
    .nav-links li a {
        font-size: 3vw;
    }
    
  .footer {
      position: fixed;
      bottom: 5px;
      width: 100%;
      height: 10%;
      background-color: #0000004d;
      color: beige;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
    .footer-top-con {
        flex-direction: column;
        align-items: left;
    }
  
    .footer-top-item {
        max-width: 100%;
    }
  
    .footer-top-item-social {
        margin-top: 2vw;
        padding-left: 0;
        align-items: left;
    }
  }
  @media (max-width: 768px) {
    #yt-background {
      width: 520vw;
      height: 300vw;
    }
    .banner { 
        padding-top: 20%;
        padding-bottom: 20%;
    }
    nav {
        height: 15vw;
    }
  
    .nav-links {
        padding: 15px;
        justify-content: center;
    }
  
    .nav-links li {
        margin: 0 12px;
    }
  
    .nav-links li a {
        font-size: 3vw;
    }
  
    .footer-top-con {
        flex-direction: column;
        align-items: left;
    }
  
    .footer-top-item {
        max-width: 100%;
    }
  
  
    .footer-top-item-social {
        margin-top: 2vw;
        padding-left: 0;
        align-items: left;
    }
  }
  @-moz-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @-webkit-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @-o-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  

  ::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #f5f5f500;
  }
  
  ::-webkit-scrollbar
  {
    width: 12px;
    background-color: #1414147e;
  }
  
  ::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }