@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('https://eu-assets.simpleview-europe.com/manchester2016/imageresizer/?image=%2Fdmsimgs%2Fmanchester-art-gallery_2__1332734200.jpg&action=ProductDetail') ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
    
  }

nav {
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.logo a {
    text-decoration: none;
    color: #2f1f2b;
    font-weight: bold;
    font-size: 20px;
}

.container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    padding-top: 10%;
    background-color: #0000004d;
    height: auto;
}

.class {
    width: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.artwork {
    width: 70%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    color: rgb(255, 255, 255);
}

.classroom {
    background: rgb(233, 233, 233);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(108, 108, 108);
    color: black;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
}

.classroom:hover {
    background: rgb(41, 41, 157);
    color: beige;
}

.individual {
    cursor: pointer;
    transition: 0.3s;
}

.individual:hover {
    transform: scale(1.03);
}

.artwork-img {
    width: 100%;
    height: 17vw;
    object-fit: cover;
    border-radius: 10px;
}

.modal,
.modal-bg {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-page {
    z-index: 99;
    min-width: 30vw;
    min-height: 30vw;
    max-width: 90vw;
    overflow: scroll;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px;
}

.modal-details {
    width: 100%;
    display: flex;
}

.modal-details img {
    width: 30vw;
    height: 30vw;
    border-radius: 10px;
    object-fit: cover;
}

.details {
    margin-left: 20px;
}

.details p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.btn-control {
    display: flex;
    justify-content: flex-end;
}

.btn {
    cursor: pointer;
    font-size: 1.5vw;
    padding: 10px 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    background: linear-gradient(125deg, hotpink, hotpink);
}

.nav-links {
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap; /* Added flex-wrap for better responsiveness */
    align-items: center;
    padding: 20px 15px;
    border-radius: 12px;
}
.nav-links li {
    list-style: none;
    margin: 0 12px;
}

.nav-links li a {
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
}

.nav-links li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #efa434;
    border-radius: 12px;
    transition: all 0.4s ease;
}

.nav-links li a:hover:before {
    width: 100%;
}

.nav-links li.forward a:before {
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.nav-links li.forward a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}
.logo img {
    width: 50px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
}


