@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;300;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}


.loading-indicator {
    
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      height: 96px;
      width: 96px;
      animation: rotate_3922 1.2s linear infinite;
      background-color: #9b59b6;
      background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
    }
    
.loading-indicator span {
      position: absolute;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      background-color: #9b59b6;
      background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
    }
    
.loading-indicator span:nth-of-type(1) {
      filter: blur(5px);
    }
    
.loading-indicator span:nth-of-type(2) {
      filter: blur(10px);
    }
    
.loading-indicator span:nth-of-type(3) {
      filter: blur(25px);
    }
    
.loading-indicator span:nth-of-type(4) {
      filter: blur(50px);
    }
    
.loading-indicator::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      background-color: #fff;
      border: solid 5px #ffffff;
      border-radius: 50%;
    }
    
@keyframes rotate_3922 {
    from {
     transform: translate(-50%, -50%) rotate(0deg);
    }
    
    to {
     transform: translate(-50%, -50%) rotate(360deg);
    }
}
    

body {
    margin: 0;
    padding: 0;
    background-image: url('https://eu-assets.simpleview-europe.com/manchester2016/imageresizer/?image=%2Fdmsimgs%2Fmanchester-art-gallery_2__1332734200.jpg&action=ProductDetail');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter: blur(5px);
}


.logo img {
    max-width: 4vw;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-class {
    width: auto;
    padding-left: 5%;
    display: flex;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #0000003f;
    height: auto;
}

.class {
    width: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.artwork {
    width: 70%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    color: rgb(255, 255, 255);
}

.classroom {
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
}

.classroom:hover {
    background: rgba(41, 41, 157, 0.445);
    color: beige;
}

.individual {
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 30%;
    margin: 5px;
}

.individual:hover {
    transform: scale(1.03);
}

.artwork-img {
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid #2a2a2a; /* Border style */
    height: auto; 
    max-width: 100%;
    
}

.artworklist {
    margin-left: 10%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    padding-top: 15%;
}

.modal-page {
 
    z-index: 99;
    min-width: 30vw;
    min-height: 30vw;
    max-width: 70%;
    height: auto;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.9s;
    border-radius: 15px;
    padding: 20px;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.modal-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.details-img{
    max-width: 40%;
    max-height: 500px;
    border-radius: 10px;
    object-fit: contain;
}

.details {
    width: 55%;
    padding-left: 20px;
}

.details p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.container {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.container .btn {
	position: relative;
	top: 0;
	left: 0;
	width: 150px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
    border:none;
    background: transparent;
}
.container .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 121, 233, 0.33);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.488);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #000000;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.container .btn:hover a {
	letter-spacing: 3px;
}
.container .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.container .btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.container .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.container .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.container .btn:nth-child(1)::before, /*chnage 1*/
.container .btn:nth-child(1)::after {
	background: #ff1f71;
	box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
		0 0 60px #ff1f71;
}
.container .btn:nth-child(2)::before, /* 2*/
.container .btn:nth-child(2)::after {
	background: #2db2ff;
	box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
		0 0 60px #2db2ff;
}
.container .btn:nth-child(3)::before, /* 3*/
.container .btn:nth-child(3)::after {
	background: #1eff45;
	box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45,
		0 0 60px #1eff45;
}
.bg-blur {
    background: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background 0.3s; /* Add transition for smoother effect */
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 15px;
    border-radius: 12px;
}

.nav-links li {
    list-style: none;
    margin: 0 12px;
}

.nav-links li a {
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
    transition: color 0.3s; /* Add transition for smoother effect */
}

.nav-links li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #efa434;
    border-radius: 12px;
    transition: all 0.4s ease;
}

.nav-links li a:hover:before,
.nav-links li a.active:before {
    width: 100%;
}

.nav-links li.forward a:before {
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.nav-links li.forward a:hover:before,
.nav-links li.forward a.active:before {
    transform: scaleX(1);
    transform-origin: left;
}

/* Add a new class to handle the navigation bar background change on scroll */
.scroll {
    background: rgba(0, 0, 0, 0.8); /* Adjust the background color as needed */
}


.logo img {
    width: 5vw;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.footer-top-con {
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    color: beige;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.footer-top-item {
    max-width: 50%;
}

.footer-top-item-social {
    padding-left: 30%;
    align-items: end;
}


.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.social-icons a.facebook:hover {
    background-color: #3b5998;
}

.social-icons a.instagram:hover {
    background-color: #ed00d9;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #f5f5f500;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #1414147e;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

/* Media Queries */

@media (max-width: 768px) {
    nav {
        height: 15vw;
    }
    .individual p{
        font-size: 0.5vw;
    }
    .artwork{
        padding-top: 8%;
    }
    .artwork-img {
        max-width: 200%;
        margin-bottom: 5px;
        align-items: center;
        border: 2px solid #2a2a2a; /* Border style */
    }
    .modal-page {
        max-width: 70%;
        height: auto;
    }

    .modal-details {
        flex-direction: column;
        font-size: medium;
    }

    .modal-details img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
        align-items: center;
    }

    .details {
        width: 100%;
        padding-left: 0;
    }

    .nav-links {
        padding: 15px;
        justify-content: center;
    }

    .nav-links li {
        margin: 0 12px;
    }

    .nav-links li a {
        font-size: 3vw;
    }

    .classroom {
        font-size: 1.5vw;
    }

    .individual {
        margin-bottom: 15%;
        padding-top: 5%;
    }

    .classroom {
        background: transparent;
        backdrop-filter: blur(10px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        transition: 0.3s;
        text-align: center;
        text-decoration: none;
        font-size: 1.2vw;
    }

    .class {
        padding-top: 10%;
        width: 10%;
        display: flex;
        flex-direction: column;
    }
    .footer-top-con {
        flex-direction: column;
        align-items: left;
    }

    .footer-top-item {
        max-width: 100%;
    }


    .footer-top-item-social {
        margin-top: 2vw;
        padding-left: 0;
        align-items: left;
    }
}
